<!DOCTYPE html>
<html lang="es">
  <head>
    <title>autos</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-productos.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <div class="wrapper">
      <header class="header-mobile">
        <button class="open-menu" id="open-menu">
          <i class="bi bi-list"></i>
        </button>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
      </header>
      <aside>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
        <header>
          <h1 class="logo-aside">SixMOTORS</h1>
        </header>
        <div class="menu-aside">
          <ul class="menu-autos">
            <li>
              <button id="" class="boton-menu boton-categoria active">
                <i class="bi bi-hand-index-thumb-fill"></i> Todos
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Autos 0km
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Autos usados
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Camionetas
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Camiones
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Motos
              </button>
            </li>
            <li>
              <a class="boton-menu boton-carrito" href="/carrito">
                <i class="bi bi-cart-fill"></i> Carrito
                <span id="numerito" class="numerito">0</span>
              </a>
            </li>
          </ul>
        </div>
        <footer>
          <p class="texto-footer">© 2023 SixMotors</p>
        </footer>
      </aside>
      <main>
        <h2 class="titulo-principal" id="titulo-principal">
          Todos los productos
        </h2>
        <div id="contenedor-productos" class="contenedor-productos">
          <% datosAutos.forEach(auto => { %>
          <div class="producto-container">
            <img
              class="producto-imagen"
              src="<%= auto.img %>"
              alt="<%= auto.title %>"
            />
            <div class="producto-detalles">
              <h3 class="producto-titulo"><%= auto.title %></h3>
              <p class="producto-precio">$<%= auto.price %></p>
              <button class="producto-agregar" id="<%= auto.id %>">
                Agregar
              </button>
            </div>
          </div>
          <% }); %>
        </div>
      </main>
    </div>

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>

    <!-- javascript del nav -->
    <script type="module" src="/javascript/nav.js"></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="/javascript/autos.js"></script>
  </body>
</html>
