<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-productos.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <!-- Autopartes -->
    <!-- Header de autopartes -->

    <div class="wrapper">
      <header class="header-mobile">
        <button class="open-menu" id="open-menu">
          <i class="bi bi-list"></i>
        </button>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
      </header>
      <aside>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
        <header>
          <h1 class="logo-aside">SixMOTORS</h1>
        </header>
        <div class="menu-aside">
          <ul class="menu-autos">
            <% if (products[0].type == 0) { %>
            <li>
              <a href="/products/autos">
                <button
                  id="todosAutos"
                  class="boton-menu boton-categoria"
                  data-category="todosA"
                >
                  <i class="bi bi-hand-index-thumb-fill"></i> Todos los autos
                </button>
              </a>
            </li>
            <li>
              <a href="/products/category/0km">
                <button
                  id="0km"
                  class="boton-menu boton-categoria"
                  data-category="0km"
                >
                  <i class="bi bi-hand-index-thumb"></i> 0km
                </button>
              </a>
            </li>
            <li>
              <a href="/products/category/Usado">
                <button
                  id="Usado"
                  class="boton-menu boton-categoria"
                  data-category="Usado"
                >
                  <i class="bi bi-hand-index-thumb"></i> Usado
                </button>
              </a>
            </li>
            <% } else { %>
            <li>
              <a href="/products/autopartes">
                <button
                  id="todosRepuestos"
                  class="boton-menu boton-categoria"
                  data-category="TodosR"
                >
                  <i class="bi bi-hand-index-thumb-fill"></i> Todos los
                  repuestos
                </button>
              </a>
            </li>
            <li>
              <a href="/products/category/Iluminación">
                <button
                  id="iluminacion"
                  class="boton-menu boton-categoria"
                  data-category="Iluminación"
                >
                  <i class="bi bi-hand-index-thumb"></i> Iluminación
                </button>
              </a>
            </li>
            <li>
              <a href="/products/category/Motor">
                <button
                  id="motor"
                  class="boton-menu boton-categoria"
                  data-category="Motor"
                >
                  <i class="bi bi-hand-index-thumb"></i> Motor
                </button>
              </a>
            </li>
            <li>
              <a href="/products/category/Cubiertas">
                <button
                  id="cubiertas"
                  class="boton-menu boton-categoria"
                  data-category="Cubiertas"
                >
                  <i class="bi bi-hand-index-thumb"></i> Cubiertas
                </button>
              </a>
            </li>
            <li>
              <a href="/products/category/Otros">
                <button
                  id="otros"
                  class="boton-menu boton-categoria"
                  data-category="Otros"
                >
                  <i class="bi bi-hand-index-thumb"></i> Otros
                </button>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
        <footer>
          <p class="texto-footer">© 2023 SixMotors</p>
        </footer>
      </aside>

      <!-- Main de autopartes -->
      <main>
        <h2 class="titulo-principal" id="titulo-principal">
          Todos los productos
        </h2>
        <!-- Contenedor de articulos, autopartes -->
        <div id="contenedor-productos" class="contenedor-productos">
          <% products.forEach(prod => { %> <%-
          include('../partials/product.ejs', { prod: prod }) %> <% }); %>
        </div>
      </main>
    </div>

    <!-- Footer -->

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>

    <!-- javascript del Nav -->
    <script src="/javascript/cart.js"></script>
    <%- include('../partials/scripts') %>
  </body>
</html>
