<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Contactanos</title>

    <%- include ('../partials/head.ejs') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style-contacto.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>
    <main>
      <div class="titulo">
        <h2>Contactanos</h2>
      </div>
      <section id="contacto" class="mensaje-container">
        <div class="caja">
          <div class="conta form">
            <h3>Envianos un mensaje sobre <%= productName %></h3>
            <form id="FormCont" action="">
              <div class="formBox">
                <div class="row50">
                  <div class="inputBox">
                    <span>Nombre</span>
                    <input
                      type="text"
                      id="name"
                      name="nombre"
                      placeholder="Pedro"
                    />
                    <i
                      class="fas fa-exclamation-circle"
                      style="display: none"
                    ></i>
                  </div>
                  <div class="inputBox">
                    <span>Apellido</span>
                    <input
                      type="text"
                      id="lastName"
                      name="apellido"
                      placeholder="Rodriguez"
                    />
                    <i
                      class="fas fa-exclamation-circle"
                      style="display: none"
                    ></i>
                  </div>
                </div>
                <div class="row50">
                  <div class="inputBox">
                    <span>Email</span>
                    <input
                      id="email"
                      type="text"
                      name="email"
                      placeholder="PedroRodriguez@email.com"
                    />
                    <i
                      class="fas fa-exclamation-circle"
                      style="display: none"
                    ></i>
                  </div>
                  <div class="inputBox">
                    <span>Telefono</span>
                    <input
                      id="phone"
                      type="text"
                      name="telefono"
                      placeholder="+54 3364525352"
                    />
                    <i
                      class="fas fa-exclamation-circle"
                      style="display: none"
                    ></i>
                  </div>
                </div>
                <div class="row100">
                  <div class="inputBox">
                    <span>Message</span>
                    <textarea
                      name="mensaje"
                      id="mensaje"
                      cols="30"
                      rows="10"
                      placeholder="Escribi tu mensaje aqui..."
                    ></textarea>
                  </div>
                </div>
                <div class="row100">
                  <div class="inputBox">
                    <input type="submit" value="Enviar" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <%- include ('../partials/footer.ejs') %>
      <!-- Scripts -->
      <%- include('../partials/scripts') %>
      <script src="/javascript/contactoCompra.js"></script>
    </main>
  </body>
</html>
