<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Contactanos</title>

    <%- include ('../partials/head.ejs') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style-contacto.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>
    <main>
      <div class="titulo">
        <h2>Contactanos</h2>
      </div>
      <section id="contacto" class="mensaje-container">
        <div class="caja">
          <div class="conta form">
            <h3>Envianos un mensaje sobre <%= productName %></h3>
            <form id="formulario" method="POST">
              <div class="formBox">
                <div class="row50">
                  <div class="inputBox">
                    <span>Nombre</span>
                    <input type="text" placeholder="Pedro" name="nombre" />
                  </div>
                  <div class="inputBox">
                    <span>Apellido</span>
                    <input
                      type="text"
                      placeholder="Rodriguez"
                      name="apellido"
                    />
                  </div>
                </div>
                <div class="row50">
                  <div class="inputBox">
                    <span>Email</span>
                    <input
                      type="text"
                      placeholder="PedroRodriguez@email.com"
                      name="email"
                    />
                  </div>
                  <div class="inputBox">
                    <span>Telefono</span>
                    <input
                      type="text"
                      placeholder="+54 3364525352"
                      name="cel"
                    />
                  </div>
                </div>
                <div class="row100">
                  <div class="inputBox">
                    <span>Message</span>
                    <textarea
                      name="mensaje"
                      id=""
                      cols="30"
                      rows="10"
                      placeholder="Escribi tu mensaje aqui..."
                    ></textarea>
                  </div>
                </div>
                <div class="row100">
                  <div class="inputBox">
                    <input type="submit" value="Enviar" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <%- include ('../partials/footer.ejs') %>
      <!-- Scripts -->
      <%- include('../partials/scripts') %>
      <script src="/javascript/validaciones/contacto.js"></script>
    </main>
  </body>
</html>
