<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-creacion-edicion.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <main>
      <!-- Navbar -->
      <%- include ('../partials/header.ejs') %>

      <div class="titulo">
        <h2>Crear Producto</h2>
      </div>
      <main class="formulario">
        <form
          action="/products/configs/create"
          method="POST"
          enctype="multipart/form-data"
          id="formulario"
        >
          <div class="caja">
            <div class="conta form">
              <div class="formBox">
                <div class="row50">
                  <div class="inputBox">
                    <label for="title">Nombre del producto:</label>
                    <input
                      type="text"
                      name="name"
                      value="<%= locals.old ? old.name : null %>"
                    />
                    <% if (locals.errores && errores.name) { %>
                    <div class="text-danger"><%= errores.name.msg %></div>
                    <% } %>
                  </div>
                  <div class="inputBox">
                    <label for="type">Type</label>
                    <select name="type" id="type">
                      <option value="">Selecionar tipo</option>
                      <option value="0">Vehiculo</option>
                      <option value="1">Autoparte</option>
                    </select>
                  </div>
                  
                  <div class="inputBox">
                    <label for="price">Precio:</label>
                    <input
                      type="text"
                      name="price"
                      value="<%= locals.old ? old.price : null %>"
                    />
                    <% if (locals.errores && errores.price) { %>
                    <div class="text-danger"><%= errores.price.msg %></div>
                    <% } %>
                  </div>
                  <div class="inputBox">
                    <label for="year">Modelo:(año)</label>
                    <select name="year" id="year">
                      <% for (var i = new Date().getFullYear(); i >= 1900; i--) { %>
                        <option value="<%= i %>" <%= locals.old && old.year == i ? 'selected' : '' %>><%= i %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-der">
                <div class="infoBox">
                  <div class="inputBox">
                    <label for="category">Categoria</label>
                    <select name="category" id="category">
                      <option value="">Selecionar categoria</option>
                      <option value="Iluminacion">Iluminacion</option>
                      <option value="Motor">Motor</option>
                      <option value="Cubiertas">Cubiertas</option>
                      <option value="Otros">Otros</option>
                      <option value="0km">0km</option>
                      <option value="Usado">Usado</option>
                    </select>
                  </div>
                  <label for="img"><br />Foto del producto:</label>
                  <input type="file" id="img" name="img" />
                  <% if (locals.errores && errores.img) { %>
                  <div class="text-danger"><%= errores.img.msg %></div>
                  <% } %>
                  <label for="category">Es:</label>
                  <select name="is_km" id="is_km">
                    <option value="">Estado</option>
                    <option value="0">Usado</option>
                    <option value="1">Nuevo</option>
                  </select>
                  <label for="colors">Colores (separados por comas):</label>
                  <input
                    type="text"
                    name="colors"
                    value="<%= locals.old ? old.colors : null %>"
                  />
                  <% if (locals.errores && errores.colors) { %>
                  <div class="text-danger"><%= errores.colors.msg %></div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="fondo">
              <div class="row100">
                <div class="inputBox">
                  <label for="description">Descripción:</label>
                  <textarea name="description">
<%= locals.old ? old.description : null %></textarea
                  >
                  <% if (locals.errores && errores.description) { %>
                  <div class="text-danger"><%= errores.description.msg %></div>
                  <% } %>
                </div>
                <div class="inputBox check">
                  <label for="marked">Venta inmediata?</label>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="marked"
                  />
                </div>

                <div class="inputBox">
                  <input type="submit" value="Enviar" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </main>
    </main>
    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>
    <!-- script -->
    <% include ('../partials/scripts.ejs') %>
    <script src="/javascript/validaciones/vender.js"></script>
  </body>
</html>
