<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product Detail</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-product-detail.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <!-- Product Detail -->
    <div class="titulo">
      <% if (product && product.name) { %>
      <h2><%= product.name %></h2>
      <% } else { %>
      <h2>Product Not Found</h2>
      <% } %>
    </div>
    <main>
      <div class="container-img">
        <% if (product && product.img) { %>
        <img
          src="/images/products/<%= product.img != ''? product.img: 'default.jpg' %>"
          alt="<%= product.name %>"
        />
        <% } else { %>
        <p>No Image Available</p>
        <% } %>
      </div>

      <div class="container-info-product">
        <div class="container-price">
          <span><%= product.price %></span>
        </div>

        <div class="container-add-cart">
          <div class="container-quantity">
            <input
              type="number"
              placeholder="1"
              value="1"
              min="1"
              class="input-quantity"
            />
            <div class="btn-increment-decrement">
              <i class="fa-solid fa-chevron-up" id="increment"></i>
              <i class="fa-solid fa-chevron-down" id="decrement"></i>
            </div>
          </div>
          <div class="boton">
            <button class="btn-add-to-cart">
              <i class="fa-solid fa-plus"></i>
              <a
                class="btn-add-to-cart add-to-cart-button agregar_carrito"
                id="add-to-cart-button"
                data-id="<%= product.id %>"
                >Agregar al carrito</a
              >
            </button>
          </div>
        </div>

        <div class="container-description">
          <div class="title-description">
            <h4>Descripción</h4>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="text-description">
            <p><%= product.description %></p>
            <p>Color: <%= product.colors %></p>
            <p>Category: <%= product.category %></p>
          </div>
        </div>

        <div class="container-reviews">
          <div class="title-reviews">
            <h4>Reseñas</h4>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="text-reviews hidden">
            <p><%= product.reseña %></p>
          </div>
        </div>

        <!-- Falta lo del midel que si es admin lo tiene que mostrar -->
        <div class="btn-opciones">
          <% if (locals.userAdmin) { %>
          <a href="/products/configs/edit/<%= product.id %>">
            <button class="btn-op">
              <i class="fa-solid fa-pen-to-square"></i>
              Editar
            </button>
          </a>
          <form
            action="/products/configs/delete/<%= product.id %>?_method=delete"
            method="POST"
          >
            <button class="btn-op" type="submit">
              <i class="fa-solid fa-trash"></i>
              ELIMINAR
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </main>

    <% function cargaRandom(array) { %> <% for (let i = array.length - 1; i > 0;
    i--) { %> <% const j = Math.floor(Math.random() * (i + 1)); %> <% [array[i],
    array[j]] = [array[j], array[i]]; %> <% } %> <% return array; %> <% } %>

    <section class="container-related-products">
      <div class="titulo">
        <h2>Productos Relacionados</h2>
      </div>
      <% const carga = cargaRandom(products); %>
      <div class="card-list-products">
        <% for (let i = 0; i < 4 && i < carga.length; i++) { %>
        <a href="/products/detail/<%= carga[i].id %>">
          <div class="card">
            <div class="card-img">
              <img
                src="/images/products/<%= carga[i].img %>"
                alt="<%= carga[i].name %>"
              />
            </div>
            <div class="info-card">
              <div class="text-product">
                <h3><%= carga[i].name %></h3>
                <p class="type"><%= carga[i].type %></p>
              </div>
              <div class="price">$<%= carga[i].price %></div>
            </div>
          </div>
        </a>
        <% } %>
      </div>
    </section>

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>

    <!-- javascript del nav -->
    <%- include('../partials/scripts') %>

    <!-- javascript del product detail -->
    <script type="module" src="/javascript/details.js"></script>
    <script src="/javascript/cart.js"></script>

    <!--  -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
  </body>
</html>
