<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-creacion-edicion.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <div class="titulo">
      <h2>Editar producto</h2>
    </div>
    <main class="formulario">
      <form id="formulario" action="/products/configs/edit/<%= producto.id %>" method="POST"   enctype="multipart/form-data">
        <div class="caja">
          <div class="conta form">
            <div class="formBox">
              <div class="row50">
                <div class="inputBox">
                  <label for="title">Nombre del producto:</label>
                  <input
                    type="text"
                    name="name"
                    value="<%= producto.name %>"
                  />
                 
                </div>
                <div class="inputBox">
                  <label for="type">Type</label>
                  <select name="type" id="type">
                    <option value="">Selecionar tipo</option>
                    <option value="0">Vehiculo</option>
                    <option value="1">Autoparte</option>
                  </select>
                </div>
                <div class="inputBox">
                  <label for="price">Precio:</label>
                  <input
                    type="text"
                    name="price"
                    value="<%= producto.price %>"
                  />
              
                </div>
                <div class="inputBox">
                  <label for="year">Modelo:(año)</label>
                  <select name="year" id="year">
                    <% for (var i = new Date().getFullYear(); i >= 1900; i--) { %>
                      <option value="<%= i %>" <%= locals.old && old.year == i ? 'selected' : '' %>><%= i %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-der">
              <div class="infoBox">
          
                <label for="img"><br />Foto del producto:</label>
                <img
                  class="producto-imagen"
                  src="/images/products/<%= producto.img %>"
                  alt="<%= producto.title %>"
                />
                <label for="category">Es:</label>
                <select name="is_km" id="is_km">
                  <option value="">Estado</option>
                  <option value="0">Usado</option>
                  <option value="1">Nuevo</option>
                </select>
                <label for="colors">Colores (separados por comas):</label>
                <input
                  type="text"
                  name="colors"
                  value="<%=producto.colors  %>"
                />
            
              </div>
            </div>
          </div>
          <div class="fondo">
            <div class="row100">
              <div class="inputBox">
                <label for="description">Descripción:</label>
                <textarea name="description"><%= producto.description %></textarea
                >
            
              </div>
              <div class="inputBox check">
                <label for="marked">Venta inmediata?</label>
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="marked"
                />
              </div>

              <div class="inputBox">
                <input type="submit" value="Enviar" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>
    <!-- script -->
    <% include ('../partials/scripts.ejs') %>
    <script src="/javascript/validaciones/edit.js"></script>
  </body>
</html>
