<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product Detail</title>
  <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-product-detail.css" />
</head>

<body>
  <!-- Navbar -->
  <%- include ('../partials/header.ejs') %>

    <!-- Product Detail -->
    <div class="titulo">
      <h2>
        <%= auto.title %>
      </h2>
    </div>
    <main>
      <div class="container-img">
        <img src="<%= auto.img %>" alt="<%= auto.title %>" />
      </div>

      <div class="container-info-product">
        <div class="container-price">
          <span>
            <%= auto.price %>$
          </span>
        </div>

        <div class="container-add-cart">
          <div class="container-quantity">
            <input type="number" placeholder="1" value="1" min="1" class="input-quantity" />
            <div class="btn-increment-decrement">
              <i class="fa-solid fa-chevron-up" id="increment"></i>
              <i class="fa-solid fa-chevron-down" id="decrement"></i>
            </div>
          </div>
          <a href="/contacto">
            <button class="btn-add-to-cart">
              <i class="fa-solid fa-plus"></i>
              Contactar para ver <%= auto.title %>
            </button>
          </a>
        </div>

        <div class="container-description">
          <div class="title-description">
            <h4>Descripción</h4>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="text-description">
            <p>
              <%= auto.description %>
            </p>
          </div>
        </div>

        <div class="container-reviews">
          <div class="title-reviews">
            <h4>Reseñas</h4>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="text-reviews hidden">
            <p>
              <%= auto.reseña %>
            </p>
          </div>
        </div>
      </div>
    </main>

    <% function cargaRandomAutos(array) { %>
      <% for (let i=array.length - 1; i> 0; i--) { %> <% const j=Math.floor(Math.random() * (i + 1)); %>
          <% [array[i], array[j]]=[array[j], array[i]]; %>
            <% } %>
              <% return array; %>
                <% } %>

                  <section class="container-related-products">
                    <div class="titulo">
                      <h2>Productos Relacionados</h2>
                    </div>
                    <% const cargaAutos=cargaRandomAutos(datosAutos ); %>

                      <div class="card-list-products">
                        <% for (let i=0; i < 4 && i < cargaAutos.length; i++) { %>
                          <a href="/DetailsAutos/<%= cargaAutos[i].id %>">
                            <div class="card">
                              <div class="card-img">
                                <img src="<%= cargaAutos[i].img %>" alt="<%= cargaAutos[i].title %>" />
                              </div>
                              <div class="info-card">
                                <div class="text-product">
                                  <h3>
                                    <%= cargaAutos[i].title %>
                                  </h3>
                                  <p class="category">
                                    <%= cargaAutos[i].category %>
                                  </p>
                                </div>
                                <div class="price">$<%= cargaAutos[i].price %>
                                </div>
                              </div>
                            </div>
                          </a>
                          <% } %>
                      </div>
                  </section>

                  <!-- Footer -->
                  <%- include ('../partials/footer.ejs') %>

                    <!-- javascript del nav -->
                    <script type="module" src="/javascript/nav.js"></script>

                    <!-- javascript del product detail -->
                    <script type="module" src="/javascript/details.js"></script>
</body>

</html>