<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-productos.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <!-- Autopartes -->
    <!-- Header de autopartes -->

    <div class="wrapper">
      <header class="header-mobile">
        <button class="open-menu" id="open-menu">
          <i class="bi bi-list"></i>
        </button>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
      </header>
      <aside>
        <button class="close-menu" id="close-menu">
          <i class="bi bi-x"></i>
        </button>
        <header>
          <h1 class="logo-aside">SixMOTORS</h1>
        </header>
        <div class="menu-aside">
          <ul class="menu-autos">
            <% if (products[0].type == 0) { %>
            <li>
              <button id="" class="boton-menu boton-categoria active">
                <i class="bi bi-hand-index-thumb-fill"></i> Todos los autos
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> 0km
              </button>
            </li>
            <li>
              <button id="" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Usados
              </button>
            </li>
            <% } else { %>
            <li>
              <button id="btn-todos" class="boton-menu boton-categoria active">
                <i class="bi bi-hand-index-thumb-fill"></i> Todos los repuestos
              </button>
            </li>
            <li>
              <button id="btn-iluminacion" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> iluminacion
              </button>
            </li>

            <li>
              <button id="btn-motor" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Motor
              </button>
            </li>
            <li>
              <button id="btn-cubiertas" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Cubiertas
              </button>
            </li>
            <li>
              <button id="btn-otros" class="boton-menu boton-categoria">
                <i class="bi bi-hand-index-thumb"></i> Otros
              </button>
            </li>
            <% } %>
          </ul>
        </div>
        <footer>
          <p class="texto-footer">© 2023 SixMotors</p>
        </footer>
      </aside>

      <!-- Main de autopartes -->
      <main>
        <h2 class="titulo-principal" id="titulo-principal">
          Todos los productos
        </h2>
        <!-- Contenedor de articulos, autopartes -->
        <div id="contenedor-productos" class="contenedor-productos">
          <% products.forEach( prod=> { %> <%- include('../partials/product.ejs'
          ,{prod}) %> <% } ) %>
        </div>
      </main>
    </div>

    <!-- Footer -->

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>

    <!-- javascript del Nav -->
    <script src="/javascript/cart.js"></script>
    <%- include('../partials/scripts') %>

    <script src="/javascript/autos.js"></script>
  </body>
</html>
