<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Docuemnt</title>
    <%- include ('partials/head.ejs') %>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style-home2.css" />
  </head>

  <body>
    <!-- Navbar -->
    <%- include ('partials/header.ejs') %>
    <!-- Main -->
    <main>
      <!-- Banner Slider -->
      <section class="banner" id="banner">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/banner1.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/images/banner2.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/images/banner3.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/images/banner4.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/images/banner5.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="/images/banner6.jpg" alt="" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>

      <div class="titulo">
        <h2>Consegui los mejores autos de tu zona</h2>
      </div>

      <% function cargaRandom(array) { %> <% for (let i = array.length - 1; i >
      0; i--) { %> <% const j = Math.floor(Math.random() * (i + 1)); %> <%
      [array[i], array[j]] = [array[j], array[i]]; %> <% } %> <% return array;
      %> <% } %>

      <section id="autos-venta" class="autos-venta">
        <div class="autos">
          <!-- Swiper de Autos 0km -->
          <div class="autos-0km autos-cont">
            <div class="titulo">
              <h3>Autos 0km</h3>
              <a href="/autos">
                <p>Ver mas</p>
              </a>
            </div>
            <div class="slider">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <% cargaRandom(autos0KM).slice(0, 7).forEach(auto => { %>
                  <div class="swiper-slide">
                    <a href="/products/detail/<%= auto.id %>">
                      <div class="img-container">
                        <img
                          src="/images/products/<%= auto.img %>"
                          alt="<%= auto.name %>"
                        />
                        <h6><%= auto.name %></h6>
                      </div>
                    </a>
                  </div>
                  <% }) %>
                </div>
                <!-- pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>

          <!-- Swiper de Autos Usados -->
          <div class="autos-usados autos-cont">
            <div class="titulo">
              <h3>Autos usados</h3>
              <a href="/autos">
                <p>Ver mas</p>
              </a>
            </div>
            <div class="slider">
              <div class="swiper-container swiper-container-usados">
                <div class="swiper-wrapper">
                  <% cargaRandom(autoUsado).slice(0, 7).forEach(auto => { %>
                  <div class="swiper-slide">
                    <a href="/products/detail/<%= auto.id %>">
                      <div class="img-container">
                        <img
                          src="/images/products/<%= auto.img %>"
                          alt="<%= auto.name %>"
                        />
                        <h6><%= auto.name %></h6>
                      </div>
                    </a>
                  </div>
                  <% }) %>
                </div>
              </div>
              <div class="swiper-button-next swiper-button-next-usados"></div>
              <div class="swiper-button-prev swiper-button-prev-usados"></div>
              <div class="swiper-scrollbar swiper-scrollbar-usados"></div>
            </div>
          </div>
        </div>

        <!-- Swiper de los más vendidos -->
        <div class="masVendidos autos-cont">
          <div class="titulo">
            <h3>Los más vendidos</h3>
          </div>
          <div class="swiperVendi mySwiperVendi">
            <div class="swiper-wrapperVendi">
              <% for (let i = 0; i < 7; i++) { %> <% const randomIndex =
              Math.floor(Math.random() * marked.length); %> <% const
              randomProduct = marked[randomIndex]; %> <% if
              (randomProduct.marked) { %>
              <div class="swiper-slide">
                <div class="card float-left p-4">
                  <div class="row">
                    <div class="col-sm-7">
                      <div class="card-block">
                        <h4><%= randomProduct.name %></h4>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <img
                        class="d-block w-100"
                        src="/images/products/<%= randomProduct.img %>"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <% } %> <% } %>
            </div>
            <div class="swiper-paginationVendi"></div>
          </div>
        </div>
      </section>

      <div class="titulo">
        <h2>Podes adquirir autopartes en nuestra tienda online</h2>
      </div>

      <div class="titulo titulo-auto-partes">
        <h3>Autopartes</h3>
        <a href="/">
          <p>Ver mas</p>
        </a>
      </div>
      <section id="autopartes" class="autopartes">
        <div class="autopartes-items">
          <% for (let i = 0; i < 10 && i < autoparte.length; i++) { %> <% const
          autoparteItem = autoparte[i]; %>
          <a href="/products/detail/<%= autoparteItem.id %>">
            <div class="items">
              <span class="titulo-items"><%= autoparteItem.title %></span>
              <img
                src="/images/products/<%= autoparteItem.img %>"
                alt="<%= autoparteItem.name %>"
                class="img-item"
              />
              <span class="precio-item">$<%= autoparteItem.price %></span>
            </div>
          </a>
          <% } %>
        </div>
      </section>

      <br />

      <div class="titulo">
        <h2>Reseñas de nuestros clientes</h2>
      </div>
      <section id="reseñas" class="reseñas">
        <div class="wrapper">
          <i id="left" class="fa-solid fa-angle-left"></i>
          <ul class="carousel">
            <% usuarios.forEach(usuarios => { %>
            <li class="card-reseña">
              <div class="img">
                <img
                  src="/images/users/<%= usuarios.img %>"
                  alt="<%= usuarios.name %>"
                  draggable="false"
                />
              </div>
              <h2><%= usuarios.name %></h2>
              <span><%= usuarios.reviews %> </span>
            </li>
            <% }); %>
          </ul>
          <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
      </section>

      <div class="titulo">
        <h2>Contactanos</h2>
      </div>
      <section id="contacto" class="mensaje-container">
        <div class="caja">
          <div class="conta form">
            <h3>Envianos un mensaje</h3>
            <form action="">
              <div class="formBox">
                <div class="row50">
                  <div class="inputBox">
                    <span>Nombre</span>
                    <input type="text" placeholder="Pedro" />
                  </div>
                  <div class="inputBox">
                    <span>Nombre</span>
                    <input type="text" placeholder="Rodriguez" />
                  </div>
                </div>
                <div class="row50">
                  <div class="inputBox">
                    <span>Email</span>
                    <input type="text" placeholder="PedroRodriguez@email.com" />
                  </div>
                  <div class="inputBox">
                    <span>Telefono</span>
                    <input type="text" placeholder="+54 3364525352" />
                  </div>
                </div>
                <div class="row100">
                  <div class="inputBox">
                    <span>Message</span>
                    <textarea
                      name="mensaje"
                      id=""
                      cols="30"
                      rows="10"
                      placeholder="Escribi tu mensaje aqui..."
                    ></textarea>
                  </div>
                </div>
                <div class="row100">
                  <div class="inputBox">
                    <input type="submit" value="Enviar" />
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="contacto conta info">
            <h3>Informacion</h3>
            <div class="infoBox">
              <div class="datos">
                <span><i class="fa-solid fa-map-pin"></i></span>
                <p>Buenos Aires, San Nicolas de los Arroyos</p>
              </div>
              <div class="datos">
                <span><i class="fa-solid fa-envelope"></i></span>
                <a href="">SixMotors@gmail.com</a>
              </div>
              <div class="datos">
                <span><i class="fa-solid fa-phone"></i></span>
                <a href="">+54 3364123987</a>
              </div>
            </div>
            <ul class="sci">
              <li>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
              </li>
              <li>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="conta map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26663.605763735824!2d-60.20563474411568!3d-33.346237223207766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1690653004640!5m2!1ses!2sar"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include ('partials/footer.ejs') %>

    <!-- javascript del nav -->
    <script type="module" src="/javascript/nav.js"></script>
    <!-- Javascript pagina -->
    <script type="module" src="/javascript/home2.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.0.4/swiper-bundle.min.js"></script>
    <!--  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <!-- <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
      ></script> -->
  </body>
</html>
