<div class="producto-container">
  <a href="/products/detail/<%= prod.id %>">
    <img
      class="producto-imagen card-img-top"
      src="/images/products/<%= prod.img != ''? prod.img: 'default.png' %>"
      alt="<%= prod.name %>"
    />
  </a>
  <div class="producto-detalles">
    <h3 class="producto-titulo"><%= prod.name %></h3>
    <p class="producto-precio">$<%= prod.price %></p>
    <div class="conten">
      <% if (prod.type === 0) { %>
      <!-- <button class="producto-agregar agregar_carrito" data-id="<%= prod.id %>"> -->
      <a href="/products/contacto/">
        <button class="producto-agregar">Contactar vendedor</button>
      </a>
      <% } else { %>
      <button class="producto-agregar agregar_carrito" data-id="<%= prod.id %>">
        Agregar
      </button>
      <% } %>
      <div class="favorito">
        <button>
          <i class="bi bi-heart"></i>
        </button>
      </div>
    </div>
  </div>
</div>
