<!DOCTYPE html>
<html lang="en">
  <head>
    <title>usuario</title>
    <%- include ('../partials/head.ejs') %>

    <link rel="stylesheet" href="/css/style-usuario.css" />
    <link rel="stylesheet" href="/css/style-editUser.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include ('../partials/header.ejs') %>

    <main>
      <section class="usuario">
        <div class="wrapper">
          <div class="left">
            <img
              src="/images/users/<%= locals.userLogged.img %>"
              alt="usuario"
              width="100"
              id="profile-image"
            />

            <button class="editar" id="open">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <div id="modal_container" class="modal-container">
              <div class="modal">
                <div class="info-tit">
                  <h3>Editar Informacion</h3>
                  <button id="close"><i class="fa fa-close"></i></button>
                </div>
                <form
                  action="/user/update-user"
                  method="POST"
                  enctype="multipart/form-data"
                  id="form"
                >
                  <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      value="<%= locals.userLogged.name %>"
                      required
                    />
                    <label for="lastname">Apellido:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastname"
                      name="lastname"
                      value="<%= locals.userLogged.lastname %>"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="user">Nombre de usuario:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="user"
                      name="user"
                      value="<%= locals.userLogged.user %>"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <!-- <label for="password">Contraseña:</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      required
                    /> -->
                    <label for="country">País:</label>
                    <select name="country" id="country" class="form-control">
                      <option value="" selected disabled>Pais</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Bolivia">Bolivia</option>
                      <option value="Brasil">Brasil</option>
                      <option value="Chile">Chile</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Guyana">Guyana</option>
                      <option value="Paraguay">Paraguay</option>
                      <option value="Peru">Peru</option>
                      <option value="Surinam">Surinam</option>
                      <option value="Uruguay">Uruguay</option>
                      <option value="Venezuela">Venezuela</option>
                    </select>
                    <label for="cel">Teléfono:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cel"
                      name="cel"
                      value="<%= locals.userLogged.cel %>"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="review">Reseña:</label>
                    <textarea
                      class="form-control"
                      id="review"
                      name="review"
                      rows="3"
                    >
<%= locals.userLogged.reviews %></textarea
                    >
                  </div>
                  <button
                    type="button"
                    id="btnGuardarCambios"
                    class="btn btn-primary"
                  >
                    Guardar cambios
                  </button>
                </form>
              </div>
            </div>

            <h4>
              <%= locals.userLogged.name %> <%= locals.userLogged.lastname %>
            </h4>
            <div class="info">
              <h3>Informacion</h3>
              <div class="info_data">
                <div class="data">
                  <h5>Email</h5>
                  <p><%= locals.userLogged.email %></p>
                </div>
                <div class="data">
                  <h5>Telefono</h5>
                  <p><%= locals.userLogged.cel %></p>
                </div>
                <div class="data">
                  <h5>Ciudad</h5>
                  <p><%= locals.userLogged.country %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <!-- <div class="favoritos">
              <h3>Favoritos</h3>
              <div class="favoritos_data">
                <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="carrusel">
                  <div class="contenidio">
                    <img src="/images/autopartes/bateria.jpg" alt="" />
                    <h3>Titulo</h3>
                    <p>Precio</p>
                  </div>
                </div>
                <i id="right" class="fa-solid fa-angle-right"></i>
              </div>
            </div> -->
            <div class="card-header">Mis Pedidos</div>
            <div class="card-body">
              <% if (orders !== null && orders !== undefined) { %>
              <div class="table-container">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 50px">
                        <strong>#</strong>
                      </th>
                      <th class="th-lg">
                        <strong>Fecha</strong>
                      </th>
                      <th class="th-lg">
                        <strong>Envío</strong>
                      </th>
                      <th class="th-lg">
                        <strong>Pago</strong>
                      </th>
                      <th>
                        <strong>Total</strong>
                      </th>
                      <th style="width: 50px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach((order, index) => { %>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td>
                        <%= new Intl.DateTimeFormat('es-ES', { year: 'numeric' ,
                        month: 'numeric' , day: '2-digit' ,hour: 'numeric' ,
                        minute: 'numeric' }).format(order.createdAt) %>
                      </td>
                      <td><%= order.shippingMethod %></td>
                      <td><%= order.paymentMethod %></td>
                      <td>$ <%= order.total %></td>
                      <td>
                        <a
                          class="btn btn-warning btn-sm"
                          href="<%= `/order/${order.id}` %> "
                          ><i class="fas fa-eye"></i
                        ></a>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
              <p>No hay órdenes disponibles.</p>
              <% } %>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %> <%- include('../partials/scripts')
    %>
    <script type="module" src="/javascript/usuario.js"></script>
    <script type="module" src="/javascript/editUser.js"></script>
  </body>
</html>
