<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SixMotors || Register</title>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style-register.css" />
  </head>
  <body>
    <div class="container-form">
      <div class="informacion">
        <div class="datos">
          <h2>Bienvenido</h2>
          <p>
            Si ya tienes una cuenta, inicia sesion para acceder a la sitio de
            SixMotors
          </p>
          <div class="btn-ingresar">
            <a href="/user/login" class="link">
              <button class="button-ing type1">
                <span class="btn-txt">Iniciar sesion</span>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="form-information">
        <div class="form-information-info">
          <div class="logo">
            <a href="/">
              <img
                src="/images/logo-sin-fondo.png"
                alt="logo"
                width="50%"
                height="50%"
              />
            </a>
          </div>
          <h2>Create una cuenta</h2>
          <p>Create una cuenta para mirar las novedades que tenemos</p>
          <div class="input-google">
            <button class="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid"
                viewBox="0 0 256 262"
              >
                <path
                  fill="#4285F4"
                  d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                ></path>
                <path
                  fill="#34A853"
                  d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                ></path>
                <path
                  fill="#FBBC05"
                  d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                ></path>
                <path
                  fill="#EB4335"
                  d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                ></path>
              </svg>
              Continuar con Google
            </button>
          </div>
          <form
            action="/user/register"
            enctype="multipart/form-data"
            method="POST"
            class="form"
            id="formulario"
          >
            <label for="">
              <i class="fa-solid fa-user"></i>
              <input
                type="text"
                name="name"
                placeholder="Nombre"
                class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                value="<%= locals.olds ? olds.name : null %>"
              />
            </label>
            <% if (locals.errors && errors.name) { %>
            <div class="text-danger"><%= errors.name.msg %></div>
            <% } %>

            <label for="">
              <i class="fa-solid fa-user"></i>
              <input
                type="text"
                name="lastname"
                placeholder="Apellido"
                class="form-control <%= locals.errors && errors.lastname ? 'is-invalid' : null %>"
                value="<%= locals.olds ? olds.lastname : null %>"
              />
            </label>
            <% if (locals.errors && errors.lastname) { %>
            <div class="text-danger"><%= errors.lastname.msg %></div>
            <% } %>

            <label for="">
              <i class="fa-solid fa-user"></i>
              <input
                type="text"
                name="user"
                placeholder="Usuario"
                class="form-control <%= locals.errors && errors.user ? 'is-invalid' : null %>"
                value="<%= locals.olds ? olds.user : null %>"
              />
            </label>
            <% if (locals.errors && errors.user) { %>
            <div class="text-danger"><%= errors.user.msg %></div>
            <% } %>

            <label for="">
              <i class="fa-solid fa-envelope"></i>
              <input
                type="email"
                name="email"
                placeholder="perdro123@gmail.com"
                class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                value="<%= locals.olds ? olds.email : null %>"
              />
            </label>
            <% if (locals.errors && errors.email) { %>
            <div class="text-danger"><%= errors.email.msg %></div>
            <% } %>

            <label for="country">
              <i class="fa-solid fa-globe"></i>
              <select
                name="country"
                id="country"
                class="form-control <%= locals.errors && errors.country ? 'is-invalid' : null %>"
              >
                <option value="" selected disabled>Pais</option>
                <option value="Argentina">Argentina</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Brasil">Brasil</option>
                <option value="Chile">Chile</option>
                <option value="Colombia">Colombia</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Guyana">Guyana</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Surinam">Surinam</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Venezuela">Venezuela</option>
              </select>
            </label>
            <% if (locals.errors && errors.country) { %>
            <div class="text-danger"><%= errors.country.msg %></div>
            <% } %>

            <label for="cel">
              <i class="fa-solid fa-phone"></i>
              <input type="number" name="cel" id="cel" placeholder="Celular" />
            </label>

            <label for="password">
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Contraseña"
                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              />
              <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
            </label>
            <% if (locals.errors && errors.password) { %>
            <div class="text-danger"><%= errors.password.msg %></div>
            <% } %>

            <label for="repeatPassword">
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                name="repeatPassword"
                id="rePassword"
                placeholder="Repetir contraseña"
                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              />
              <i class="fa-solid fa-eye-slash" id="toggleRepeatPassword"></i>
            </label>
            <% if( locals.errors && errors.repeatPassword ){ %>
            <div class="text-danger"><%= errors.repeatPassword.msg %></div>
            <% } %>

            <label class="custum-file-upload nombre_campos" for="imgperfil">
              <div class="icon">
                <svg
                  viewBox="0 0 24 24"
                  fill=""
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                      fill=""
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="text">
                <span>Carga una imagen de perfil</span>
              </div>
              <input
                id="imgperfil"
                type="file"
                name="img"
                accept=".jpg, .jpeg, .png, .gif"
                class="form-control <%= locals.errors && errors.imgperfil ? 'is-invalid' : null %>"
              />
            </label>
            <% if (locals.errors && errors.imgperfil) { %>
            <div class="text-danger"><%= errors.imgperfil.msg %></div>
            <% } %>

            <div class="register-cont">
              <button class="register" type="submit">
                <span>Registrarse</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="module" src="/javascript/Register.js"></script>
    <script src="/javascript/validaciones/register.js"></script>
  </body>
</html>
